.Landing {
    position: relative;
    height: 100vh;
}

.Landing__Face {
    position: fixed;
    text-align: center;
    top: 50%;
    padding: 0 10%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.Landing__Face__Header {
    font-size: 4rem;
}

.Landing__Face__Cursor {
    font-size: 4rem;
    -webkit-animation: Landing__Face__Cursor__Anim 1s infinite;
    animation: Landing__Face__Cursor__Anim 1s infinite;
    margin-left: 1px
}

.Landing__Face__Desc {
    font-size: 1rem;
    color: #5b5b5b;
}

.Landing__Btn {
    position: fixed;
    top: 85vh;
    border-radius: 0!important;
    border-color: rgba(248, 249, 250, .25) !important;
    animation: Landing__Face__Btn_Arrow_Fade 2s infinite;
    -webkit-animation: Landing__Face__Btn_Arrow_Fade 2s infinite;
}

@-webkit-keyframes Landing__Face__Btn_Arrow_Fade {
    0% {
        color: #c8c8c8;
        box-shadow: none;
        background-color: rgba(31, 40, 46, .15);
    }
    50% {
        color: #ffffff;
        box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, .25);
        background-color: rgba(31, 40, 46, .35);
    }
    100% {
        color: #c8c8c8;
        box-shadow: none;
        background-color: rgba(31, 40, 46, .15);
    }
}

@keyframes Landing__Face__Btn_Arrow_Fade {
    0% {
        color: #c8c8c8;
        box-shadow: none;
        background-color: rgba(31, 40, 46, .15);
    }
    50% {
        color: #ffffff;
        box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, .25);
        background-color: rgba(31, 40, 46, .35);
    }
    100% {
        color: #c8c8c8;
        box-shadow: none;
        background-color: rgba(31, 40, 46, .15);
    }
}

@-webkit-keyframes Landing__Face__Cursor__Anim {
    0% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@keyframes Landing__Face__Cursor__Anim {
    0% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}
