.TeamBg {
    overflow: hidden;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    width: 100vw;
    z-index: 0;
}

.Team {
    background-color: rgba(31, 40, 46, .5);
    width: 100%;
    min-height: 600px;
    position: absolute;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, .5);
    padding: 3rem 10% !important;
}

.Team__Header {
    color: #ffffff;
    letter-spacing: 1.5rem;
}

.Team__Desc {
    color: #ffffff;
    text-align: center;
}