@media (min-width: 576px) {
    .Contact__Form {
        min-width: 400px!important;
    }

    .Contact__Form__Header {
        font-size: 2.5rem;
    }
}

@media(min-width: 769px) {
    .Contact__Form {
        min-width: 500px!important;
    }
}

.Contact {
    text-align: center;
    background-color: gray;
    padding: 6rem 10%;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, .5);
}

.Contact__Form {
    color: #c8c8c8;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
    padding: 30px!important;
    background-color: #292b30;
    max-width: 600px;
    min-width: 300px;
}

.Contact__Form__Header {
    color: #ffffff;
    margin-left: 1rem;
    font-size: 1.5rem;
    letter-spacing: 1rem;
}

.Contact__Form__Checkbox__Label {
    margin-left: 0.5rem;
    text-align: left;
}

.Contact__Form__Btn {
    width: 100%;
    font-weight: bold;
    color: #f8f9fa!important;
    background-color: transparent!important;
    border-color: rgba(248, 249, 250, .25);
}

.Contact__Form__Btn:hover {
    color: #292b30!important;
    background-color: #f8f9fa!important;
}