.NavBar {
    background-color: transparent!important;
    transition: .25s ease-in-out;
    padding-left: 10% !important;
    padding-right: 10% !important;
}

.NavBar__Hamburger {
    transition: box-shadow .15s;
    border-color: rgba(0,0,0,.1) !important;
}

.NavBar__Hamburger:focus {
    outline: none;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
}