.Card {
    width: 100%;
    height: 400px;
    margin-bottom: 1rem;
    background: url("https://i.pinimg.com/564x/6f/5a/b1/6f5ab1b470beeeeaf285bb451c63ac8f.jpg");
    background-color: black;
    background-size: cover;
    cursor: pointer;
    -webkit-box-shadow: 0 0 2px #000;
    box-shadow: 0 0 2px #000;
}

.Card__Overlay {
    padding: 10%;
    width: 100%;
    height: 100%;
    background: rgba(60, 60, 60, 0.9);
    color: #ffffff;
    opacity: 0;
    transition: all 0.5s;
}

.Card__Overlay__Head {
    font-size: 30px;
    line-height: 40px;
    transform: translateY(40px);
    transition: all 0.7s;
}

.Card__Overlay__Head__Hr {
    opacity: .3;
    display: block;
    border: none;
    border-bottom: solid 1px #fef5df;
}

.Card__Overlay__Desc {
    font-size: 1.2rem;
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.7s;
}

.Card__Overlay__RMore {
    font-size: 12px;
    opacity: 0;
    letter-spacing: 1px;
    transform: translateY(40px);
    transition: all 0.7s;
}

.Card:hover .Card__Overlay {
    opacity: 1;
}
.Card:hover .Card__Overlay__Head {
    transform: translateY(0px);
}

.Card:hover .Card__Overlay__Desc {
    transform: translateY(0px);
    transition-delay: 0.3s;
    opacity: .7;
}

.Card:hover .Card__Overlay__RMore {
    transform: translateY(0px);
    transition-delay: 0.6s;
    opacity: 1;
}
