/*@media (min-width: 769px) {*/
/*    .Landing__Face {*/
/*        width: 50%;*/
/*    }*/
/*}*/

.Landing {
    position: relative;
    height: 100vh;
}

.Landing__Face {
    position: fixed;
    text-align: center;
    top: 50%;
    padding: 0 10%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.Landing__Face__Header {
    font-size: 4rem;
}

.Landing__Face__Cursor {
    font-size: 4rem;
    -webkit-animation: Landing__Face__Cursor__Anim 1s infinite;
    animation: Landing__Face__Cursor__Anim 1s infinite;
    margin-left: 1px
}

@-webkit-keyframes Landing__Face__Cursor__Anim {
    0% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@keyframes Landing__Face__Cursor__Anim {
    0% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

.Landing__Face__Desc {
    font-size: 1rem;
    color: #5b5b5b;
}

.Landing__Button {
    position: fixed;
    top: 85vh;
    background-color: rgba(31,40,46,.25) !important;
    border-color: #ffffff !important;
    border-radius: 50% !important;
    color: #ffffff !important;
    box-shadow: 0 0 5px 5px rgba(255,255,255,.5) !important;
}

.Landing__Button:focus,.Landing__Button:active {
    box-shadow: 0 0 5px 0.2rem rgba(31,37,25,.25) !important;
}